<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'base.html' %}
      {% load static %}
      {% load bootstrap5 %}
  	{% block title %}<title>Compose</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{#      <link rel="stylesheet" href="{%  static 'spec/components/sidebar.scss' %}">#}
		<link rel="stylesheet" href="{%  static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

            {% block content %}
        <form method="POST">{% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn-outline-success" name="save">Save</button><br/>
            <label>Seclect date and time
                <input type="datetime-local" name="date_time" required>
{#                <select name="timezone" id="timezone">#}
{#                    <option value="Africa/Lagos">Nigeria</option>#}
{#    <option value="Pacific/Kwajalein">Eniwetok, Kwajalein</option>#}
{#    <option value="Pacific/Midway">Midway Island, Samoa</option>#}
{#    <option value="Pacific/Honolulu">Hawaii</option>#}
{#    <option value="Pacific/Marquesas">Taiohae</option>#}
{#    <!-- and so on -->#}
{#</select>#}
            </label>
            <button class="btn-success" name="schedule_send">Schedule send</button>
             </form>

{% endblock %}

  </body>
</html>